header {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 35px;
}

footer {
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;

    > li {
        display: inline-block;

        a {
            font-family: Alumni;
            font-size: 3.5em;
            font-style: italic;
            color: #000000;
            letter-spacing: 0.05em;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 40px;

    > a {
        display:  inline-block;

        > img {
            border-radius: 50%;
        }
    }
}
