

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Skia;
    font-size: 24px;
}

menu, section {
    margin: 0;
    padding: 0;
}

* {
    font-family: Skia;
    box-sizing: border-box;
}

span, label {
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 4.5em;
}